<% content_for(:title, t('.title'))  %>
<div class="container pt-3">
  <!-- 掲示板一覧 -->
  <div class="row">
   	<div class="col-12">
     	<div class="row">
				<% if @bookmark_diaries.present? %>
          <%= render @bookmark_diaries %>
        <% else %>
					<div class="mb-3"><%= t('.no_result') %>
				<% end %>
			</div>
		</div>
  </div>
</div>
