<footer id='footer' class='footer-bottom fixed-bottom' style="background-color: #000000">
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6 col-12 m-2'>
        <div class='copyright text-light'>
          <p> </p>
        </div>
      </div>
    </div>
  </div>
</footer>